@page "/"

<PageTitle>Demo of LocalStorage</PageTitle>

<h1>Demo of LocalStorage</h1>

<h2>Introduction</h2>
<p>This site is designed to demo how you can save information to your local hard drive when using C# blazor webassembly</p>
<h2>Security</h2>
<p>&nbsp;blazer has been designed to use and control webpages period due to the security implications of this there are some restrictions on how we can write to the hard disk. We wouldn't want the browser to be able to over right ordinary files due to hacker concerns period while there are some restrictions in accessing the file system we can write to certain areas of the hard disk and what is known as a sandbox 2 area. This allows us to save information from one session to the next, but it does not allow us to specify directories and file names when we write our files.</p>
<p>The method that we will be using to write to write data to our hard disk is called Local storage.&nbsp; There are two demo pages the first one shows a simple saving of a key and string pair, the second&nbsp; demo page is more complex and shows&nbsp; how we can have a list of a class, in this example a student, serialise that to a string and then save that to local storage.&nbsp;</p>



1